.buttonContinue {
  width: 310px;
  height: 56px;
  border-radius: 30px;
  background-color: #303b59;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-top: 35px;
}
.buttonContinue:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(234, 85%, 45%)
  );
}

@media (width >= 768px) {
  .buttonContinue {
    margin-top: 0;
    width: 285px;
  }
  .buttonContinue:hover {
    background-image: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(234, 85%, 45%)
    );
  }
}
