.buttonContinue {
  width: 100%;
  height: 56px;
  border-radius: 30px;
  background-color: #303b59;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.buttonContinue:hover {
  border-radius: 30px;
  background-color: #4c37f4;
  transition: background-color 0.3s ease-in-out;
}

.buttonContinue:active{
  border-radius: 30px;
}
.buttonContinue:focus{
  outline: none;
  border-radius: 30px;
}
button:focus{
  outline: none;
  border-radius: 30px;
}

@media (width >= 768px) {
  .buttonContinue {
    margin-top: 0;
    width: 285px;
  }
}