.titleSectionInfo {
  align-self: flex-start;
  color: #373e50;
  font-size: large;
  margin-left: 20px;
  margin-top: 3px;
}

@media ( width >= 768px){
  .titleSectionInfo{
    margin: 0;
    font-size: 25px;
    padding-bottom: 29px;
  }
}