header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 357px;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(234, 85%, 45%));
  border-radius: 0 0 25px 25px;
}

.title {
  font-size: 20px;
  color: #b8a9ff;
  text-align: center;
  margin-top: 25px;
  /* margin-bottom: 30px; */
}

.circleNumber {
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 138px;
  height: 138px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.soloNummber {
  font-size: 55px;
  font-weight: bold;
  color: aqua;
}
.nummberOf {
  color: #7a6cff;
  font-weight: 600;
}
.subtitle{
  margin-top: 25px;
  margin-bottom: 0px;
}

.paragraphResult {
  color: #b8a9ff;
  text-align: center;
  max-width: 260px;
  line-height: 20px;
  margin-top: 15px;
}