.groupInfoData {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    box-shadow: 0 0px 50px 10px hsla(0, 0%, 0%, 0.120);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .groupInfoData {
    gap: 55px;
  }
}
