/* .infoSummary {
  border: 2px solid white;

} */
.groupInfoData {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .groupInfoData {
    gap: 55px;
  }

}
