.info-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.icon-Info {
  display: flex;
  gap: 15px;
  margin-left: 40px;
}

.numOfNum{
  color: #98a1a9;
  margin-right: 40px;
  display: flex;
  gap: 5px;
  font-weight: bolder;

}

.texto {
  font-weight: 800;
}

.texto.red {
  color: hsl(0, 100%, 67%);
}
.texto.yellow {
  color: hsl(39, 100%, 56%);
}
.texto.green {
  color: hsl(166, 100%, 37%);
}
.texto.blue {
  color: hsl(234, 85%, 45%);
}

.red{
  background-color: hsla(0, 100%, 67%, 0.035);
}
.yellow{
  background-color: hsl(39, 100%, 56%, 0.015);
}
.green{
  background-color: hsl(166, 100%, 37%, 0.015);
}
.blue{
  background-color: hsl(234, 85%, 45%, 0.015);
}

.boldNumber {
  color: #373e50;
}

@media (width >= 768px){
  .info-data{
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 285px;
    height: 54px;
    font-size: 18px;
  }
  .numOfNum{
    margin-right: 18px;
  }
  .icon-Info{
    margin-left: 18px;
  }
  .texto {
    font-weight: 600;
  }

}